.grid {
  height:  100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 5% 63% 10px 15% 5%;
  grid-template-areas:
    "top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar top_sidebar"
    "left_sidebar invUI invUI invUI invUI invUI invUI invUI invUI invUI invUI right_sidebar"
    "left_sidebar inv inv inv inv inv inv inv inv ins ins right_sidebar"
    "left_sidebar spacer1 spacer1 spacer1 spacer1 spacer1 spacer1 spacer1 spacer1 spacer1 spacer1 right_sidebar"
    "left_sidebar hotbar hotbar hotbar hotbar hotbar hotbar hotbar hotbar hotbar hotbar right_sidebar"
    "bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar bottom_sidebar"
}

.hotbar_item1 {grid-area: hotbar_item1;}
.hotbar_item2 {grid-area: hotbar_item2;}
.hotbar_item3 {grid-area: hotbar_item3;}
.hotbar_item4 {grid-area: hotbar_item4;}
.hotbar_item5 {grid-area: hotbar_item5;}
.hotbar_item6 {grid-area: hotbar_item6;}
.hotbar_item7 {grid-area: hotbar_item7;}
.hotbar_item8 {grid-area: hotbar_item8;}
.hotbar_item9 {grid-area: hotbar_item9;}
.hotbar_item0 {grid-area: hotbar_item0;}