#hotbar {
  background-color: var(--color-hotbar-background);
  grid-area: hotbar;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "hotbar_item1 hotbar_item2 hotbar_item3 hotbar_item4 hotbar_item5 hotbar_item6 hotbar_item7 hotbar_item8 hotbar_item9 hotbar_item0"
}

.hotbar_itembox {
  width:        95%;
  height:       auto;
  left:         50%;
  bottom:       -50%;
  transform:    translateX(-50%) translateY(-50%);
  position:     relative;
  border:       3px solid;
  border-color: var(--color-hotbar-outline-border);
}